@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); 
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.popup{
    width: 400px;
    background: #0f3959;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s ;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
    color: #fff !important;
}

.popup p{
    color: #fff;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3c9b9b;
    flex-flow: wrap;
}

section::before{
    content: '';
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background:#3c9b9b;
}
.new-line{
    width: 100%;
}
.container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    margin-bottom: -20%;
}

.container .contactInfo{
    position: absolute;
    top: 40px;
    width: 350px;
    margin-top: -10%;
    height: calc(100% - 80px);
    background: #0f3959;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);
}

.container .contactForm{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    margin-top: -10%;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff;
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
}

.container .contactForm h2{
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}

.container .contactForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.container .contactForm .formBox .inputBox{
    position: relative;
    margin-bottom: 35px;
}

.container .contactForm .formBox .inputBox.w50{
    width: 47%;
}

.container .contactForm .formBox .inputBox.w100{
    width: 100%;
}

.container .contactForm .formBox .inputBox input,
.container .contactForm .formBox .inputBox textarea{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.container .contactForm .formBox .inputBox textarea{
    height: 120px;
}

.container .contactForm .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
    
}

.container .contactForm .formBox .inputBox input:focus ~ span,
.container .contactForm .formBox .inputBox input:valid ~ span,
.container .contactForm .formBox .inputBox textarea:focus ~ span,
.container .contactForm .formBox .inputBox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #094561 ;
    font-weight: 500;
}

.container .contactForm .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #094561;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}

.container .contactForm .formBox .inputBox input[type="submit"]:hover{
    background: #116186;
}

.container .contactInfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.container .contactInfo ul.info{
    position: relative;
    margin: 20px 0;
}

.container .contactInfo ul.info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px;
    cursor: pointer;
    align-items: flex-start;
}

.container .contactInfo ul.info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}

.container .contactInfo ul.info li span:nth-child(1) img{
    max-width: 100%;
    filter: invert(1);
}

.container .contactInfo ul.info li span:nth-child(2){
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}

 .wrapper{
    position: relative;
    display: flex;
}

.wrapper .button{
    display: block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px rgba(0,0,0,0.1) ;
    transition: all 0.3s ease-out;
    
}

.wrapper .button:hover{
    width: 200px;
} 

.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
   
}

.wrapper .button:nth-child(1):hover .icon{
    background: #4267b2;
}
.wrapper .button:nth-child(2):hover .icon{
    background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
    background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
    background: #0A66C2;
}
.wrapper .button:nth-child(5):hover .icon{
    background: #FF0000;
}
.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;

}
.wrapper .button:hover .icon i{
    color: #fff;

}

.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover span{
    color: #4267b2;
}
.wrapper .button:nth-child(2):hover span{
    color: #1DA1F2;
}
.wrapper .button:nth-child(3):hover span{
    color: #E1306C;
}
.wrapper .button:nth-child(4):hover span{
    color: #0A66C2;
}
.wrapper .button:nth-child(5):hover span{
    color: #FF0000;
}

@media (max-width : 1200px){
   .container{
    width: 90%;
    min-width: auto;
    margin: 20px;
    box-shadow: rgba(0,0,0,0.2);
   }

   .container .contactInfo{
    top: 0;
    height: 550px;
    position: relative;
    box-shadow: none;
   }

   .container .contactForm{
    position: relative;
    width: calc(100% - 350px);
    padding-left: 0px;
    margin-left: 0px;
    padding: 40px;
    height: 550px;
    box-shadow: none;
   }
}

@media (max-width : 991px){
    section{
        
        background: #3c9b9b;
    }

    section::before{
        display: none;
    }

    .container{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 0px;
    }

    .container .contactForm{
        width: 100%;
        height: auto;
        margin-top: 10%;
    }

    .container .contactInfo{
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    .wrapper{
        margin-top: 20%
    }
}

@media (max-width : 600px){
    .container .contactForm{
        padding: 25px;
    }

    .container .contactInfo{
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .container .contactForm .formBox .inputBox.w50{
        width: 100%;
    }
}

