@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); 


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan" sans-serif;
}

.content{
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10%;
}

.content img{
  max-width: 100%;
  height: auto;
  margin-left: 40%;
  margin-right: 10%;
}

.content h1{
  font-size: 40px;
  margin-top: -20%;
  margin-left: 7%;
  color: #088178;

}

.content p{
  font-size: 20px;
  margin-top: 2%;
  margin-left: 10%;
}

.section-p1{
  padding: 40px 80px;
}

#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box{
  width: 200px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(65, 75, 88);
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
  border: 3px solid  rgb(0, 0, 0);
  
}

#feature .fe-box img{
  width: 80%;
  margin-bottom: 10px;
  height: 80%;
}

#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
}

.logo{
  height: 150px;
  width: 150px;
}
body{
  background: #fff;

}

nav{
  background: #1b1b1b;
  background-repeat: repeat;
}

.navbar{
  z-index: 1001;
  position: sticky;
  top: 0;
  left: 0;
}

nav::after{
  content: '';
  clear: both;
  display: table;

}

nav ul{
  float: right;
  list-style: none;
  margin-right: 40px;
  position: relative;
  margin-top: 40px;
  
}

nav ul li{
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
  

}

nav ul li a{
  color: white;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding: 9px 15px;
}

nav ul li a:hover{
  color: cyan;
  border-radius: 5px;
  box-shadow: 0 0 5px #33ffff,
              0 0 5px #66ffff;
}

nav ul ul li a:hover{
  color:cyan;
  box-shadow: none
}

nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}

nav ul ul ul{
  border-bottom: none;
}

nav ul li:hover > ul{
  top: 30px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li{
  position: relative;
  margin: 0px;
  width: 200px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

nav ul ul li a{
  line-height: 50px;
}

nav ul ul ul li{
  position: relative;
  top: -70px;
  left: 150px;
}